<app-header></app-header>

<body background="../../../assets/imagenes/fondocontacto.jpg">
    <br>
    <h1 class="titulo">Centro de Atención a clientes</h1>
    <br>
    <div class="card padre">
        <div class="card-body hijo w-50">
            <h5 class="card-title">Informacion del contacto</h5>
            <input type="text" class="form-control" placeholder="Tu nombre" aria-describedby="basic-addon1">
            <p class="card-text"></p>
            <input type="text" class="form-control" placeholder="Apellido" aria-describedby="basic-addon1">
            <p class="card-text"></p>
            <input type="text" class="form-control" placeholder="Telefono" aria-describedby="basic-addon1">
            <p class="card-text"></p>
            <input type="text" class="form-control" placeholder="Correo" aria-describedby="basic-addon1">
            <p class="card-text"></p>
            <input type="text" class="form-control" placeholder="Mensaje..." aria-describedby="basic-addon1">
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Enviar</a>
        </div>
    </div>
    <br>
</body>

<app-footer></app-footer>